*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


.header{
    background-color: #2898ee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 50px;

}

i{
    cursor: pointer;
    color: #fff;
    font-size: 1.5em;
}


.nav{
    background-color: green;
    transform: translateX(-150%);
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
    top: 50px;
    left: 0;
}

.nav__links{
    flex-direction: column;
    align-items: center;
    
}

.nav__link{
}

.link__item{
    color: #fff;
    display: block;
    text-align: center;
    
}

.link__item:hover{
    text-decoration: underline;
    background-color: red;

}

.main{
    
    background-color: rgb(249, 249, 249);
}

.portada{
    background-image: url("../img/ind.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    width: 100%;
    height: calc(100vh - 50px);
    color:#fff
}

.estructura{
}

.contenido{
    background-color: rgb(255 255 255);
    padding: .75em;
    margin-bottom: 2em;

}

.contenido__img{
    width: 100%;
    height: 200px;
}

.contenido__fecha{
    font-size: .8em;
    text-align: right;
    padding: .5em;
    color: #2898ee;

}

.contenido__titulo{
    margin-top:.5em;
    text-transform: uppercase;
    text-align: center;
    
}

.contenido__parrafo{
    text-align: justify;
    padding: .5em;
}

.contenido__enlace{
    font-size: .65em;
    padding: .5em;
    color: #2898ee;
    text-transform: uppercase;
}






